@import '../../variables';

.root {
  width: 351px;
  height: 136px;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  background: #f6f7f9;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin: 17px;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
  text-transform: capitalize;

  &:hover {
    transform: scale(1.03);
    transition: all ease-in-out 0s;
  }
}

.infoWrap {
  position: absolute;
  z-index: 1;
  width: 150px;
  top: 6px;
  left: 6px;
}

.titleName {
  margin: 0 0 12px;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}

.statWrap {
  display: flex;
  margin-bottom: 12px;
}

.statItem {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #4b4b4b;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.statValue {
  width: 36px;
  height: 36px;
  border: 3px solid #212121;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #212121;
  margin: 0 auto 8px;
}

.colorWrap {
  &.bug {
    background: linear-gradient(270deg, #9fbb23 0.15%, #9cb820 100%);
  }
  &.dark {
    background: linear-gradient(270deg, #726861 0.15%, #7d726b 100%);
  }
  &.dragon {
    background: linear-gradient(270deg, #a081ec 0.15%, #ad8cff 100%);
  }
  &.electric {
    background: linear-gradient(270deg, #f2cb07 0.15%, $primary 100%);
  }
  &.fairy {
    background: linear-gradient(270deg, #f89eae 0.15%, #f4b5c1 100%);
  }
  &.fighting {
    background: linear-gradient(270deg, #d44b44 0.15%, #e25149 100%);
  }
  &.fire {
    background: linear-gradient(270deg, #b33327 0.15%, $danger 100%);
  }
  &.flying {
    background: linear-gradient(270deg, #969cf1 0.15%, #9096f0 100%);
  }
  &.ghost {
    background: linear-gradient(270deg, #9175bd 0.15%, #9a7dca 100%);
  }
  &.grass {
    background: linear-gradient(270deg, #67d36b 0.15%, #64d368 100%);
  }
  &.ground {
    background: linear-gradient(270deg, #c8a35c 0.15%, #e0b668 100%);
  }
  &.ice {
    background: linear-gradient(270deg, #8cc7c7 0.15%, #98d8d8 100%);
  }
  &.normal {
    background: linear-gradient(270deg, #999999 0.15%, #a8a8a8 100%);
  }
  &.poison {
    background: linear-gradient(270deg, #df7edf 0.15%, #d876d8 100%);
  }
  &.psychic {
    background: linear-gradient(270deg, #e9527f 0.15%, #f85888 100%);
  }
  &.rock {
    background: linear-gradient(270deg, #a89333 0.15%, #b8a038 100%);
  }
  &.steel {
    background: linear-gradient(270deg, #658490 0.15%, #6d8f9c 100%);
  }
  &.water {
    background: linear-gradient(270deg, #5bc7fa 0.15%, #35baff 100%);
  }
}

.pictureWrap {
  width: 232px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;

    &.notFound {
      width: 40%;
      opacity: 0.8;
    }
  }
}

.label {
  background: #f28f16;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  height: 15px;
  min-width: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #212121;
  padding: 0 12px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.labelWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
