@import '../../variables';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  margin: 0;
}

.contentText {
  margin: 0;
}

.contentParalax {
  margin: 0;
}
