@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
}

h2 {
  font-size: 64px;
  line-height: 75px;
}

h3 {
  font-size: 36px;
  line-height: 42px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 21px;
}

h6 {
  font-size: 12px;
  line-height: 14px;
}

p {
  font-size: 16px;
}
