@import '../../variables';

.root {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
  padding: 33px 0;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-right: -34px;
  padding-bottom: 2.5rem;
}

.message {
  display: flex;
  justify-content: center;
}
